@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Nunito+Sans:ital,wght@1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Nunito+Sans:ital,wght@1,800&family=Poppins:wght@700&display=swap');
* {
  font-family: 'Sora', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
 
body{
  background: #884EC6;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1{
  font-family: 'Poppins', sans-serif;
  color: #fff;
  text-align: left;
  margin-left: 15%;
  font-size: 2.5rem;
}

.card{
  display: flex;
  justify-content: space-between ;
}

.MediaCard{
  margin: 30px;
  position: absolute;

}

#logo {
  width: 85px;
  height: 82px;
}

.botones{
    text-decoration: none;
}

.botones:hover{
    text-decoration: none;
}
 
.login:hover{
  color: none ;
}

.textfield__label{
  color: aliceblue !important;
}

.bodySign{
  background-color:#480981;
  position: relative;
  top: 0;
}

.fondoSign{
  background-color:#480981 !important;
}

.contain{
  background-color:#480981; 
}

.page-container{
  display:flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap{
  flex:1;
}

.CarouselStyle{
  margin-left: 5%;
}

.texto{
background: #480981;
color: #fff;
width: 800px;
padding: 10px 100px;
text-align: center;
position: absolute;
bottom: 0;
}


 .Box{
   border-color: #480981;
 }
