@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Nunito+Sans:ital,wght@1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Nunito+Sans:ital,wght@1,800&family=Poppins:wght@700&display=swap');
* {
  font-family: 'Sora', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
 
body{
  background: #884EC6;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1{
  font-family: 'Poppins', sans-serif;
  color: #fff;
  text-align: left;
  margin-left: 15%;
  font-size: 2.5rem;
}

.card{
  display: flex;
  justify-content: space-between ;
}

.wrapper{
  display: flex;
  justify-content: space-between;
  padding: 20px !important;
  min-width: 50%;
}

#logo {
  width: 185px;
  height: 60px;
}

.botones{
    text-decoration: none;
}

.botones:hover{
    text-decoration: none;
}
 
.login:hover{
  color: none ;
}

.textfield__label{
  color: aliceblue !important;
}

.bodySign{
  background-color:#480981;
  position: relative;
  top: 0;
}

.fondoSign{
  background-color:#480981 !important;
}

.contain{
  background-color:#480981; 
}

.page-container{
  display:flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap{
  flex:1;
}

.carousel{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%; 
  padding-left: 20%;
  padding-right: 20%;
  min-width: 280px;
}

 .Box{
   border-color: #480981;
 }

 .cardImage{
  min-width: 350px;
 }

 .imagen{
  text-align: left;
  position: absolute;
  margin-left: 15%;
  margin-bottom: 15%;
  display: flex;
 }

 .datos{
  display: flex;
  position: relative;
  color: white; 
  margin-left: 40%;
  margin-bottom: 2.2%;
 }